<template>
  <div d-block>
    <v-select
      :items="$i18n.locales"
      :label="$t('changeLang')"
      item-text="name"
      item-value="code"
      v-model="$i18n.locale"
      outlined
    ></v-select>
  </div>
</template>

<script>
export default {}
</script>
