<template>
  <div>
    <div class="text-left display-1 my-4">{{ $t('loginTitle') }}</div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="email"
        :rules="emailRules"
        :label="$t('eMail')"
        required
        outlined
      ></v-text-field>

      <v-text-field
        v-model="password"
        :rules="passwordRules"
        :label="$t('password')"
        required
        outlined
        type="password"
      ></v-text-field>
      <p v-if="invalidDetails" class="errMsg">
        {{ $t('invalidDetails') }}
      </p>
      <v-btn color="primary" block @click="validate">
        {{ $t('submit') }}
      </v-btn>
    </v-form>
  </div>
</template>
<script>
export default {
  data: () => ({
    valid: true,
    invalidDetails: false,
    password: '',
    email: '',
    select: null,
    items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
    checkbox: false,
  }),
  computed: {
    emailRules() {
      return [
        (v) => !!v || `${this.$t('formValidation.eMail.required')}`,
        (v) =>
          /.+@.+\..+/.test(v) || `${this.$t('formValidation.eMail.valid')}`,
      ]
    },
    passwordRules() {
      return [(v) => !!v || `${this.$t('formValidation.password.required')}`]
    },
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        // localStorage.setItem('email', this.email)
        this.$store
          .dispatch('login', { email: this.email, password: this.password })
          .then((res) => {
            this.$router.push('/to-do')
          })
          .catch((err) => {
            this.invalidDetails = true
            console.log('err', err)
          })
      }
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },
  },
}
</script>
<style scoped>
.errMsg {
  text-align: left;
  color: red;
}
</style>
