<template>
  <div>
    <v-row no-gutters>
      <v-col sm="12" class="d-flex align-center justify-center">
        <v-checkbox
          v-model="item.selected"
          class="flex-grow-0 flex-shrink-0"
          :color="color"
          @change="toggleItem"
        ></v-checkbox>
        <v-card
          class="pa-2 mb-2 flex-grow-1 flex-shrink-0 text-uppercase"
          :class="{ 'text-decoration-line-through': item.selected }"
          flat
        >
          {{ item.name }}
        </v-card>
        <v-icon class="flex-grow-0 flex-shrink-0" @click="removeItem"
          >mdi-close</v-icon
        >
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
    color: {
      type: String,
      default: '#ddd',
    },
  },
  methods: {
    toggleItem() {
      this.$emit('completeTodo', this.item)
    },
    removeItem() {
      this.$store.dispatch('removeTodo', this.item)
      this.$store.dispatch('getActiveList')
      this.$store.dispatch('getCompletedList')
    },
  },
}
</script>
