<template>
  <div>
    <span>{{ $t('welcome') }} {{ email }}</span>
    <v-btn class="ma-2" outlined color="red" @click="logOut">
      {{ $t('logOut') }}
    </v-btn>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      email: (state) => state.email,
    }),
  },
  methods: {
    logOut() {
      this.$store.dispatch('logOut')
      this.$router.push('/')
    },
  },
}
</script>
