<template>
  <div>
    <div
      class="text-center display-3 font-weight-medium my-4"
      :style="`color: ${picker}`"
    >
      {{ $t('title') }}
    </div>
    <v-text-field
      v-model="todo"
      :label="$t('toDoLabel')"
      :hint="$t('toDoHint')"
      outlined
      :color="picker"
      @keyup="addTodo"
    ></v-text-field>
    <div class="my-4">
      <p v-if="!todoList.length">{{ $t('noData') }}</p>
      <TodoItem
        v-for="(item, key) in todoListNew"
        :key="key"
        :item="item"
        :color="picker"
        @completeTodo="completeTodo($event)"
      />
    </div>
    <v-divider></v-divider>
    <div class="d-flex my-0 py-2 align-center justify-center">
      <v-checkbox
        :value="checkAll"
        class="flex-grow-1 flex-shrink-0"
        :label="$t('checkAll')"
        :color="picker"
        @change="toggleSelection"
      ></v-checkbox>
      <span class="flex-grow-0 flex-shrink-0"
        >{{ count }} {{ $t('itemsLeft') }}</span
      >
    </div>
    <v-divider></v-divider>
    <div class="d-flex my-0 py-2 align-center justify-center">
      <div class="flex-grow-1 flex-shrink-0">
        <v-btn class="text-capitalize" :color="listType === 'all' ? picker : ''" :outlined="listType !== 'all'" @click="showAll">
          {{ $t('all') }}
        </v-btn>
        <v-btn class="text-capitalize" :color="listType === 'active' ? picker : ''" :outlined="listType !== 'active'" @click="showActive">
          {{ $t('active') }}
        </v-btn>
        <v-btn class="text-capitalize" :color="listType === 'completed' ? picker : ''" :outlined="listType !== 'completed'" @click="showCompleted">
          {{ $t('completed') }}
        </v-btn>
      </div>
      <div class="flex-grow-0 flex-shrink-0">
        <v-btn class="text-capitalize" outlined @click="clearCompleted">
          {{ $t('clearCompleted') }}
        </v-btn>
      </div>
    </div>
    <v-divider></v-divider>
    <v-color-picker
      class="my-2"
      v-model="picker"
      elevation="5"
      value="#0950E6FF"
      canvas-height="150"
      width="250"
    ></v-color-picker>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import TodoItem from '../components/TodoItem'
export default {
  components: { TodoItem },
  data: () => ({
    color: 'red',
    picker:'#0950E6FF',
    todo: '',
    checkAll: true,
    listType: 'all',
  }),
  computed: {
    ...mapState({
      todoList: (state) => state.todoList,
      activeList: (state) => state.activeList,
      completedList: (state) => state.completedList,
    }),
    count() {
      return this.todoList.filter((ele) => !ele.selected).length
    },
    todoListNew() {
      if (this.listType === 'active') {
        return this.activeList
      } else if (this.listType === 'completed') {
        return this.completedList
      } else {
        return this.todoList
      }
    },
  },
  methods: {
    toggleSelection(ele) {
      this.checkAll = ele || false
      this.$store.dispatch('toggleSelect', this.checkAll)
    },
    addTodo(ele) {
      if (ele.keyCode === 13) {
        this.$store.dispatch('addTodo', {
          id: this.todoList.length + 1,
          name: this.todo,
          selected: false,
        })
        this.todo = ''
      }
    },
    completeTodo(item) {
      this.checkAll = false
      this.$store.dispatch('completeTodo', item)
    },
    showAll() {
      this.listType = 'all'
      this.$store.dispatch('getAllList')
    },
    showActive() {
      this.listType = 'active'
      this.$store.dispatch('getActiveList')
    },
    showCompleted() {
      this.listType = 'completed'
      this.$store.dispatch('getCompletedList')
    },
    clearCompleted() {
      this.$store.dispatch('clearCompleted')
    },
  },
}
</script>
